{% extends 'base.html' %}
{% block page_title %} About Us {% endblock %}
{% block page_heading %} About Us {% endblock %}
{% block content %}
{% load static %}

<!--This is used for setting the background image.-->
<div class="">

<!--Container which has the main content for the page.-->
<div class="container">
        
    <h1 class="text-center display-3">Who is The Scent Queen?</h1>

    <hr class="hr-short--pink">
    
    <div class="about-me-content">
        
        <p class="text-padding lead text-center"> Specialists in Wax Melts and Car Scents, we'll make both your car and home smell amazing!</p>
        
        <div class="row">
            
            <div class="col-xs-12 col-md-6">
                
                <p class="text-padding">So here I thought I’d tell you a little bit about behind the scenes of the scent queen_. The scent queen_ is a small wax melt company run by myself in West Sussex. I’ve always had a love for wax melts. I’ve always thought about starting to make them but never got round to it. I have my own cleaning company so was always pretty busy with that.</p>
                
            </div>
            
            <div class="col-xs-12 col-md-6">
                
                <img src="{% static 'img/about-us/pouring1.jpg' %}" class="img-thumbnail" alt="Image Here">
                
            </div>
            
            
        </div>
        
        <div class="row">
            
            <div class="col-xs-12 col-md-6">
                
                <img src="{% static 'img/about-us/pouring2.jpg' %}" class="img-thumbnail" alt="Image Here">
                
            </div>
            
            <div class="col-xs-12 col-md-6">
                
                <p class="text-padding">Then this horrible corona virus happened and I was unable to work, I thought what perfect timing to start a company like this where I can work from home. So I decided to start up a sister company to my cleaning business and work them alongside each other. My future plan is to expand my business by adding new products.  </p>
                
            </div>
            
        </div>
        
        
    </div>
    
</div>


{% endblock %}