{% extends 'base.html' %}
{% block page_title %} Home Page {% endblock %}
{% block page_heading %} Mainpage {% endblock %}
{% block content %}
{% load static %}

<!--This is the div for the header image. -->
<section class="section-intro">

    <div class="homepage-header"></div>

</section>

<!--Container which has the main content for the page.-->
<div class="container text-center">
    
    <hr class="hr-long--pink mt-5 mb-5">
    
    <h3 class="section-title">Welcome to our site where you can find all your <i><strong>scent</strong></i> and <i><strong>wax melt</strong></i> needs!</h3>
    
    <p class="lead">We are always coming up with new scents and designs.</p>
    
    <hr class="hr-short--pink mt-5 mb-5">
    
    <h3> Why not have a look through our shop and see if anything takes your fancy?</h3>
    
</div>
    

{% endblock %}

