{% extends 'base.html' %}
{% block page_title %} Home Page {% endblock %}
{% block page_heading %} Mainpage {% endblock %}
{% block content %}
{% load static %}

<!--This is the div for the header image. -->
<section class="section-intro">

    <div class="homepage-header"></div>

</section>

<!--Container which has the main content for the page.-->
<div class="container main-content">
    
    <!-- Image tiles for product choices -->
    <div class="row imagetiles">
    
        <div class="col-sm-12 col-md-3">
            <img class="img-responsive" src="#" alt="">
        </div>
        
    </div>

</div>
    

{% endblock %}

