{% extends 'base.html' %}
{% block page_title %} Home Page {% endblock %}
{% block page_heading %} Mainpage {% endblock %}
{% block content %}
{% load static %}

<!--This is the div for the header image. -->
<section class="section-intro">

    <div class="homepage-header"></div>

</section>

<!--Container which has the main content for the page.-->
<div class="container text-center">
    
    <hr class="hr-long--pink mt-5 mb-5">
    
    <h3 class="section-title">Welcome to our site where you can find all your <i><strong>scent</strong></i> and <i><strong>wax melt</strong></i> needs!</h3>
    
    <p class="lead">We are always coming up with new scents and designs.</p>
    
    <hr class="hr-short--pink mt-5 mb-5">
    
    <h3> Why not have a look through our shop and see if anything takes your fancy?</h3>
    
    <hr class="hr-short--pink mt-5 mb-5">
    
    <!-- Section for the enter shop image to be placed -->
    
    <img src="#" class="img-fluid" alt="Enter Shop Image">
    
    <hr class="hr-short--pink mt-5 mb-5">
    
    <!-- This is for the 3 cards displaying the feature blocks-->
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-3">
        	<article class="card card-body">
        		<figure class="text-center">
        			<span class="rounded-circle icon-md bg-primary"><i class="fa fa-money-bill-alt white"></i></span>
        			<figcaption class="pt-4">
        			<h5 class="title">Reasonable Prices</h5>
        			<p class="text-muted">As a small business with very little overheads, our prices are very competative! </p>
        			</figcaption>
        		</figure>
        	</article>
        </div>
    	
    	<!-- Card 2 -->
    	<div class="col-md-4 mb-3">
        	<article class="card card-body">
        		<figure class="text-center">
        			<span class="rounded-circle icon-md bg-secondary"><i class="fa fa-comment-dots white"></i></span>
        			<figcaption class="pt-4">
        			<h5 class="title">Customer Support 24/7</h5>
        			<p class="text-muted">You can get hold of us in many ways; Facebook, Instagram and by Phone. </p>
        			</figcaption>
        		</figure>
        	</article>
        </div>
    	
    	<!-- Card 3 -->
    	<div class="col-md-4 mb-3">
        	<article class="card card-body">
        		<figure class="text-center">
        			<span class="rounded-circle icon-md bg-success"><i class="fa fa-truck white"></i></span>
        			<figcaption class="pt-4">
        			<h5 class="title">Quick Delivery</h5>
        			<p class="text-muted">Not only do you get a personalised product but we ship everyday! </p>
        			</figcaption>
        		</figure>
        	</article>
        </div>
        
    </div>
</div>
    

{% endblock %}

