{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--This is the page for users to submit any queries on a basic form. Uses Gmail to send the email.-->

<div class="container mb-4 mt-4">
    
    <div class="card contact-form">
        
        <div class="contact-form-header form-title rounded">
            <span class="form-text--header">Contact Us</span>
            <span class="form-text--subtext">Get in touch with the form below.</span>
        </div>
            
        <div class="form-body">

            <hr class="hr-long--pink mt-4">
            
            <!--When the form is submitted it uses the url 'contact'-->
            <form method="POST" action="{% url 'contact' %} ">
                {% csrf_token %}
                
                {{ form | crispy }}
                
                <div class="text-center">
                    <button type="submit" class="bubbly-button">Send Message</button>
                </div>
                
            </form>
        </div>
        
    </div>

</div>

{% endblock %}