/* -----------------------------------------------------------------------------------------------------------------------------  
                                                                                                                    Variables 
-----------------------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------   
                                                                                                                        Body 
-----------------------------------------------------------------------------------------------------------------------------  */
html {
  font-size: 16px;
  height: 100%; }

body {
  font-family: "Montserrat";
  font-size: 1.1rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

a:link, a:visited {
  color: #000; }

.btn {
  transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition-timing-function: ease-in-out; }

.btn:hover,
.btn:focus {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2); }

.shadow-box-outside {
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1); }

.overlay-text {
  color: #FFF;
  text-align: center;
  font-size: 75px;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center; }
  .overlay-text:hover {
    color: #FFF;
    text-align: center;
    font-size: 75px;
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    text-shadow: 0px 0px 3px #fff; }

/* -----------------------------------------------------------------------------------------------------------------------------   
                                                                                                                    Site-Header 
-----------------------------------------------------------------------------------------------------------------------------  */
.site-header {
  padding: 30px 0px; }

.form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 64px 15px 64px 15px; }

.form-text--header {
  font-size: 25px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 7px; }

.form-text--subtext {
  font-size: 15px;
  color: #fff;
  line-height: 1.5;
  text-align: center; }

.header-text {
  text-align: end; }

.header-logo {
  margin: 30px auto;
  text-align: center; }
  .header-logo a {
    display: block; }
  .header-logo img {
    margin: 0 auto;
    display: block; }

.site-header--text-links {
  display: inline-block;
  font-size: 0.85em;
  margin-bottom: 15px; }

.homepage-header {
  background-image: url("../img/logo.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px; }

/* -----------------------------------------------------------------------------------------------------------------------------   
                                                                                                              Background/Logo Images 
-----------------------------------------------------------------------------------------------------------------------------  */
.about-us-background {
  background: url("../img/about-us/About-us-2.jpg") center no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background-size: cover; }

.profile-form-header {
  background: white;
  background: linear-gradient(90deg, white 0%, #a700a6 50%, white 100%); }

.contact-form-header {
  background: url("../img/header1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4); }

.car-scent-logo {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/shop/car_scents_logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s; }
  .car-scent-logo:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/shop/car_scents_logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    overflow: hidden; }

.wax-melts-logo {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/shop/wax_melts_logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s; }
  .wax-melts-logo:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/shop/wax_melts_logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    overflow: hidden; }

/* -----------------------------------------------------------------------------------------------------------------------------   
                                                                                                                          Body 
-----------------------------------------------------------------------------------------------------------------------------  */
#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }

.shadow-2 {
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2) !important;
  top: 0;
  left: 0; }

.text-truncate--3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.hr-short--pink {
  background-color: #d837ed66;
  width: 20%;
  height: 1px; }

.hidden {
  display: none !important; }

.form-field {
  width: 250px;
  display: inline-block;
  padding: 5px; }

.cart-row {
  display: flex;
  align-items: flex-stretch;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec; }

.order-sort-container {
  margin-top: 20px; }
  .order-sort-container .btn-sort-by {
    width: 100%; }

.box-element {
  box-shadow: #cccccc 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px; }

.hr-long--pink {
  background-color: #d837ed66;
  width: 60%;
  height: 1px; }

.text-padding {
  padding-top: 15px;
  padding-bottom: 15px; }

.shop-image {
  width: 400px;
  border: 1px gray solid;
  border-radius: 7px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block !important; }

.login-form, .reset-form {
  margin-top: 200px;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 50px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  position: relative; }

.register-form {
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 50px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  position: relative; }

.form-button {
  width: 60%; }

.contact-form {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15); }

.profile-form {
  margin-bottom: 70px;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px #d0d0d0 solid; }
  .profile-form a {
    color: #000; }

.card-body {
  min-height: 100%; }

.form-body {
  padding: 0 1.5rem;
  background-color: #f9f9f9; }

/* -----------------------------------------------------------------------------------------------------------------------------   
                                                                                                                    Responsive 
-----------------------------------------------------------------------------------------------------------------------------  */
.mobile-block {
  display: none; }

@media (max-width: 1200px) {
  /* tablet devices */ }
@media (max-width: 992px) {
  /* small tablet devices */
  .slider-main .item-slide {
    height: auto; }

  .table-shopping-cart tr td:first-child {
    width: 250px; }

  .table-shopping-cart .itemside .info {
    padding: 0; }

  .table-shopping-cart .itemside .aside {
    display: none; } }
@media all and (max-width: 768px) {
  /* mobile devices */
  .mobile-block {
    display: block; }

  .mobile-hide {
    display: none; }

  .section-header .logo {
    max-height: 40px;
    width: auto; }

  .section-header .header-main .brand-wrap {
    margin-bottom: 1rem;
    display: inline-block; }

  .section-header .header-main .search {
    margin-bottom: 1rem; }

  .item-feature {
    margin-bottom: 20px; }

  .mobile-order-first {
    order: -1; }

  .mobile-order-1 {
    order: 1; }

  .mobile-order-2 {
    order: 2; }

  .mobile-order-3 {
    order: 3; }

  .mobile-py {
    padding-top: 20px;
    padding-bottom: 20px; }

  .mobile-pb {
    padding-bottom: 20px; }

  .mobile-pt {
    padding-top: 20px; }

  .navbar-expand .navbar-collapse {
    flex-direction: column; }

  .form-button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; }

  .register-form, .login-form, .reset-form {
    margin: 0px 0px 20px 0px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px; }
    .register-form a, .login-form a, .reset-form a {
      color: #000; } }
/* -----------------------------------------------------------------------------------------------------------------------------  
                                                                                                                    Variables 
-----------------------------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------------  
                                                                                                                    Animations 
-----------------------------------------------------------------------------------------------------------------------------*/
.bubbly-button {
  font-family: "Montserrat";
  display: inline-block;
  font-size: 1.4em;
  padding: 1em 2em;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5); }
  .bubbly-button:focus {
    outline: 0; }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat; }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%; }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%; }
  .bubbly-button:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2); }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards; }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards; }

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%; }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%; }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%; }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

/*# sourceMappingURL=style.css.map */
