{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% load static %}

<div class="container">
    
    <div class="row">
        
    	<aside class="col-md-3">
    		<!--   SIDEBAR   -->
    		<ul class="list-group">
    			<a class="list-group-item" href="{% url 'profile' %}"> Personal Details </a>
    			<a class="list-group-item active"> My Orders </a>
    		</ul>
    		<!--   SIDEBAR .//END   -->
    	</aside>
    	
    	<hr class="hr-short--pink d-none d-sm-block d-md-none">
    	
    	<!-- Order placed in cards forming a list -->
    	
    	<main class="col-md-9 mb-3">
    	    
    	    {% for order in orders %}
    	    
        		<article class="card mb-3">
        		    
        		<header class="card-header">
        			<strong class="d-inline-block mr-3">Order ID: {{ order.order.transaction_id }}</strong>
        			<span>Order Date: {{ order.order.date_ordered }}</span>
        		</header>
        		
        		
        		<div class="card-body">
        			<div class="row"> 
        				<div class="col-md-8">
        					<h6 class="text-muted">Delivery to</h6>
        					<p> {{ order.full_name }} <br>  
        					Phone {{ order.customer.phone_number }} <br> Email: {{ order.email_address }} <br>
        			    	<p>Location: {{ order.shipping_address.address1 }}, {{ order.shipping_address.address2 }}, {{ order.shipping_address.city }}, {{ order.shipping_address.county }} <br> 
        			    	Postcode: {{ order.shipping_address.postcode }}</p>
        			 		</p>
        				</div>
        				
        				<div class="col-md-4">
        					<h6 class="text-muted">Payment</h6>
        					<p class="b">Total: £{{ order.total_price|floatformat:2 }} </p>
        					
        					<h6 class="text-muted">Shipping</h6>
        					<p class="b"></p>
        					<p><a href="#" class="btn btn-outline-primary ">
            				    Track order</a>
            				</p>
        				</div>
        				
        			</div> 
        		</div> 
        		
        		
        		<div class="table-responsive">
        		<table class="table table-hover">
        			<tbody>
        			    {% for item in order.order.orderitem_set.all %}
            			    <tr>
                				<td width="65">
                					<img src="{{ item.product.imageURL }}" class="img-sm border rounded">
                				</td>
                				<td> 
                					<p class="title mb-0">  </p>
                					<var class="price text-muted">{{ item.product }}</var>
                					<p class="text-muted"> {{ item.product.product_type }}</p>
                				</td>
                				<td> Quantity <br> {{ item.quantity }} </td>
            			    </tr>
        			    {% endfor %}
        		    </tbody>
        		</table>
        		</div> 
        		
        		</article> 
        	{% empty %}
        	
        	<h3>Nothing to see here...</h3>
        	
    		{% endfor %}
    	</main>
    </div>
    </div>



{% endblock %}