{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}

{% load static %}


<!-- This is the container for the profile form. Simple but effective. -->
<div class="container">
    <div class="profile-form">
        
        <div class="display-3 text-center ">
            My Profile
        </div>
        
        <hr class="hr-short--pink mb-5">
        
        <div class="text-center">
          <p>Welcome to your profile page. The details you set below will be used as your invoice and delivery address. You'll be prompted during the payment process
          to confirm these are correct before proceeding.</p>
        </div>
        
        <hr class="hr-long--pink mt-5 mb-3">
        <!--Simple form for the user profile to be displayed-->

        <form method="POST">
    
            {% csrf_token %} 
            
            {{ form | as_bootstrap }}
            
            <div class="text-center">
                <button type="submit" class="btn btn-success mt-2 mb-4">Update</button>
            </div>
            
        </form>

    </div>
</div>



{% endblock %}