{% load static %}

<!DOCTYPE html>
<html lang="en">

<!--Head which stores the title and css links-->
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>The Scent Queen</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/ui.css' %}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    
</head>

<body>

<!-- Navbar with links to other pages.-->
<header class="section-header">

<section class="header-main border-bottom">
    
	<div class="container">
	    
        <div class="row align-items-center">
            
        	<div class="col-12">
        		<a href="{% url 'index' %}" class="brand-wrap">
        			<img class="logo" src="{% static 'img/logoIcon.jpg'  %}">
        		</a>
        	</div>
    
        	
        </div>
	</div> 
</section>
</header> 

<!--If any messages then they're displayed at the top of the page.-->
{% if messages %}
<div class="alert alert-success">
    <div class="messages text-center">
        {% for message in messages %} 
            {{ message }} 
        {% endfor %}
    </div>
</div>
{% endif %}

<!--Looped background video-->
<div class="video-player">
    <video autoplay muted loop id="bgVideo">
        <source src="{% static 'img/login-bg-video.mp4' %}" type="video/mp4">
    </video>
    <!-- This is the class to add a shadow overlay on the video-->
    <div class="shadow"></div>
</div>    


<!--This is where the other templates are injected.-->
<main>
    
    {% block content %} 
    {% endblock %}
    
</main>


<!--Script files loaded and at the bottom if a template has any to use it'll add it to the list.-->
<script src="https://kit.fontawesome.com/a79deb1c99.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% block head_js %}
{% endblock head_js %}
    
</body>

</html>