{% extends 'base.html' %}
{% block page_title %} Home Page {% endblock %}
{% block page_heading %} Mainpage {% endblock %}
{% block content %}
{% load static %}

<div class="row-flex">

    <div class="container">
        
        <div class="row">
        {% for product in products %}    
            <div class="col-md-4 col-sm-6">
                
        		<figure class="card card-product-grid">
        			<a href="#" class="img-wrap">
        				<img src="{{ MEDIA_URL }}{{ product.image }}">
        			</a>
        			
        			<figcaption class="info-wrap">
        				<a href="#" class="title">{{ product.name }}</a>
        				<small class="text-muted">Pack of 4</small>
        				<div class="mt-2">
        					<var class="price">£{{ product.price|floatformat:2 }}</var> <!-- price-wrap.// -->
        					<a href="#" data-product="{{product.id}}" data-action="add" class="btn btn-sm btn-outline-primary float-right update-cart">Add to cart <i class="fa fa-shopping-cart"></i></a>
        				</div> <!-- action-wrap.end -->
        			</figcaption>
        			
        		</figure> <!-- card // -->
        	</div> <!-- col.// -->
        	{% endfor %}
        </div>
        
    </div>
</div>


{% endblock %}