{% extends 'base.html' %}
{% block page_title %} Home Page {% endblock %}
{% block page_heading %} Mainpage {% endblock %}
{% block content %}
{% load static %}

<div class="row-flex">
{% for product in products %}

    <div class="container">
    
        <article class="card card-product-grid">
        	<div class="card-body">
            	<div class="row">
            		<aside class="col-sm-4">
            			<a href="#" class="img-thumbnail img-wrap"><img src="{{ MEDIA_URL }}{{ product.image }}"></a>
            		</aside>
            		
            		<div class="col-sm-8">
            		    
        				<a href="#" class="title mt-2 h2">{{ product.name }}</a>
        				
        				<div class="d-flex mb-3">
        					<div class="price-wrap mr-4">
        						<span class="price h5">£{{ product.price|floatformat:2 }}</span>
        					</div>
        				</div>
                        
                        <p class="text-truncate--3"> {{ product.description }}</p>
        				<!--<ul class="list-bullet">-->
        				<!--	<li>Optical heart sensor</li>-->
        				<!--	<li>S3 with dual-core processor</li>-->
        				<!--	<li>Accelerometer and gyroscope</li>-->
        				<!--</ul>-->
                        
                        <hr>
                        
                        <form method="post" action="#">
                            {% csrf_token %}
            				<div class="form-row">
            					<div class="form-group col-xs">
            						<div class="input-group input-spinner">
            						    
            						  <div class="input-group-prepend">
            						    <button class="btn btn-light" type="button" id="button-plus" value="Increase Value" onclick="increaseValue()"> + </button>
            						  </div>
            						  
            						  <input type="text" class="form-control" value="1" placeholder="1" id="productAmount">
            						  
            						  <div class="input-group-append">
            						    <button class="btn btn-light" type="button" id="button-minus" value="Decrease Value" onclick="decreaseValue()"> − </button>
            						  </div>
            						  
            						</div>  
            					</div>
            					
            					<div class="form-group col-xs">
            						<button type="submit" class="btn btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i> </button>
            					</div> 
            					
            				</div> 
            			</form>
            			
            		</div> 
            	</div> 
        	</div>
        </article>
    </div>
</div>
{% endfor %}

{% endblock %}